/* Layout component styling */

/* Hide default header when page-specific header is present */
.page-has-header #default-header {
  display: none !important;
}

/* Position for the page-specific header */
.page-has-header #page-specific-header {
  display: block;
}

.page-has-footer #default-footer {
  display: none;
}
